* {
    /* font-size: larger; */
}

#name-form {
    /* TODO: style later */
}

.hidden {
    display:none;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 250px));
    grid-template-rows: repeat(3, minmax(150px, 250px));
    /* min-width: 600px;
    max-width: 80%;
    min-height: 80vh; */
}

.board-box {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-box img {
    width: 90%;
}

#game-board[data-current-player="X"] .board-box:empty:hover {
    background-image: url("./images/X.svg");
    background-color: grey;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
}
#game-board[data-current-player="O"] .board-box:empty:hover {
    background-image: url("./images/O.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: grey;
    opacity: 0.3;
}

dialog {
    &[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    max-height: 90vh;
    overflow-y: auto;
    inset-block-start: 5dvb;
    border: none;
    border-radius: 8px;
    margin: auto;
    inline-size: min(30ch, 40dvi);
    margin-inline: auto;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

form {
    justify-content: flex-start;
    width: 90%;
    height: auto;
    gap: 1.3em;
}
