@font-face {
    font-family: "Archivo";
    src: url(fonts/Archivo-VariableFont_wdth\,wght.woff2);
}

* {
    font-family: "Archivo", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 100 900;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    /* text-decoration: underline; */
    transform: scale(1.5) translateY(-2px);
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

#console,
#game {
    display: flex;
    justify-content: center;
}

header,
.scoreboard-display {
    display: flex;
    flex-direction: column;
}

header {
    align-items: center;
    gap: 1.3em;
}

#title {
    margin-top: 1em;
}

#console {
    align-items: space-evenly;
    height: 150px;
    width: clamp(475px, 70%, 825px);
}

#scoreboard {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
    width: 100%;
    /* margin: 10px; */
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.scoreboard-display {
    align-items: center;
}

.scoreboard-name,
#turn-display {
    font-size: 1.5em;
}

.scoreboard-score {
    font-size: 4em;
}

#center-display {
    gap: 20px;
}

#new-match,
input[type="submit"] {
    line-height: 3em;
    width: 10em;
    font-size: 1em;
    background-color: white;
}

#new-match:hover,
input[type="submit"]:hover {
    transform: scale(1.05);
}

#new-match:active,
input[type="submit"]:active {
    background-color: rgb(36, 36, 36);
    color: white;
}

#scoreboard,
input[type="submit"],
input[type="text"],
#new-match {
    border: 1px black solid;
    border-radius: 5px;
}

input[type="text"] {
    line-height: 1.5em;
    padding-left: 0.5em;
}

#name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name-form {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.player-name {
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 1em;
}

#player-1-name,
#player-2-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    /* gap: 5px; */
}

.mark-div {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.mark-radio {
    display: flex;
    flex-direction: column;
    width: 2em;
    justify-content: space-between;
    align-items: center;
    
}

input[type=radio] {
    display: inline-grid;
    appearance: none;
    width: 20px;
    height: 20px;
    place-content: center;
    cursor: pointer;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 50%;
    transition: border-color 0.3 ease;
}

input[type="radio"]::before {
    display: block;
    content: " ";
    width: 10px;
    height: 10px;
    font-size: 1.2em;
    border-radius: 50%;
    background-color: black;
    transform: scale(0);
    transform-origin: center;
    transition: all 0.3s ease-in;
}
input[type="radio"]:checked::before {
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}

.player-name label,
input[type="submit"] {
    font-weight: 600;
}

#game-board {
    display: grid;
    width: clamp(475px, 70%, 825px);
    grid-template-columns: repeat(3, minmax(125px, 275px));
    grid-template-rows: repeat(3, auto);
}

.board-box {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
}

.board-box img {
    width: 90%;
}

#game-board[data-current-player="X"] .board-box:empty:hover {
    background-image: url("./images/X.svg");
    background-color: grey;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
}
#game-board[data-current-player="O"] .board-box:empty:hover {
    background-image: url("./images/O.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: grey;
    opacity: 0.3;
}

dialog {
    &[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    max-height: 90vh;
    overflow-y: auto;
    /* inset-block-start: 5dvb; */
    border: none;
    border-radius: 5px;
    margin: auto;
    inline-size: min(30ch, 40dvi);
    margin-inline: auto;
    padding: 20px 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

dialog p {
    font-size: 2em;
    text-wrap-style: balance;
    text-align: center;
}

#game-select,
#new-round-form {
    display: flex;
    flex-direction: column;
}

#game-select,
#name {
    gap: 20px;
    align-items: center;
}

#game-select-btns {
    display: flex;
    gap: 20px;
}

#game-select-title,
#name-input-title {
    font-size: 1.5em;
}

/* #solo,
#duo {
    font-size: 1.2em;
    line-height: 2.5em;
    width: 10em;
    border: none;
    border-radius: 5px;
} */

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

form {
    justify-content: flex-start;
    width: 90%;
    height: auto;
    gap: 1.3em;
}
.buttons-container {
    display: flex;
    justify-content: space-evenly;
}

dialog button {
    font-size: 1.2em;
    line-height: 1.8em;
    width: 5em;
    border: none;
    border-radius: 5px;
}

.hidden {
    display:none !important;
}